# OS-specific
.DS_Store
*.dSYM

# python version pinning
.python-version

# rbenv
.ruby-version

# IDE-specific
.vscode/*

# VM / Containers / ...
.vagrant
.devcontainer/*

# Log Time to Tempo
.lt

# Python
__pycache__

# Node
.npm

# Secrets
.env
.env.local
